﻿@model LikeIt.Models.ErrorModel
@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>@Model.Text</h2>
    </hgroup>
</body>
</html>
