﻿@model List<LikeIt.Models.PageModel>
@{
    ViewBag.Title = "Index";
}

<h2>Список страниц</h2>
<ul>
    @foreach (var item in Model)
    {        
         <li>
            <a href="@String.Format("{0}/{1}", ViewBag.UrlPages, item.Id)">@item.Text</a>
        </li>        
    }
</ul>