﻿@model LikeIt.Models.PageModel

@{
    ViewBag.Title = "Template";
}

<h2>Template</h2>
<h2>@Model.Text</h2>
<div id="vk_like"></div>
@Html.HiddenFor(x => x.Id, new { id = "pageId" })

@section Javascript{
    @Scripts.Render("~/bundles/vkLike")
}
